html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  overflow: hidden;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  top: 0;
  left: 0;
  min-height: 235px;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.robot {
  margin: 0;
  position: relative;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  width: 320px;
}

.robot-body {
  position: absolute;
  width: 320px;
  z-index: 2;
}

.robot-brain {
  position: relative;
  left: 136px;
  bottom: 90px;
  width: 46px;
  z-index: 3;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  z-index: 4;
}

.robot-head-right {
  position: relative;
  bottom: 40px;
  left: 109px;
}

.robot-head-left {
  position: relative;
  bottom: 40px;
  right: 144px;
}

.robot:hover .robot-head-right {
  position: relative;
  bottom: 50px;
  left: 145px;
}

.robot:hover .robot-head-left {
  position: relative;
  bottom: 50px;
  left: -178px;
}

.robot:hover .robot-brain {
  position: relative;
  bottom: 110px;
  left: 136px;
  z-index: 3;
}
